[Desktop Entry]
Encoding=UTF-8
Name=antiXCC
Exec=antixcc.sh
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=Other;
NoDisplay=True
