[Desktop Entry]
Encoding=UTF-8
Name=Control Centre
Name[ca]=Centre de control
Name[de]=Kontrollcenter
Name[el]=Κέντρο ελέγχου
Name[es]=Centro de control
Name[fr]=Centre de contrôle
Name[it]=Centro di controllo
Name[nl]=Controlecentrum
Name[pt]=Centro de Controlo
Name[sv]=Kontrollcenter
Comment=All-in-one control centre for antiX
Comment[ca]=Centre de control integrat d'antiX
Comment[de]=Kontrollcenter für antiX
Comment[el]=Όλα-σε-ένα κέντρο ελέγχου για antiX
Comment[es]=Centro de control todo-en-uno para antiX
Comment[fr]=Centre de contrôle tout-en-un pour Antix
Comment[it]=Centro di controllo di antiX tutto in uno
Comment[nl]=Alles-in-een controlecentrum voor antiX
Comment[pt]=Centro de Controlo geral para o antiX
Comment[sv]=Allt-i-ett kontrollcenter för antiX
Exec=antixcc.sh
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=System;
NoDisplay=False
