[Desktop Entry]
Encoding=UTF-8
Name=Control Centre
Name[am]=የ መቆጣጠሪያ ማእከል
Name[ca]=Centre de control
Name[de]=Kontrollzentrum
Name[el]=Κέντρο ελέγχου
Name[es]=Centro de control
Name[fr]=Centre de contrôle
Name[it]=Centro di controllo
Name[nl]=Controle Centrum
Name[pt]=Centro de Controlo
Name[sv]=Kontrollpanel
Comment=All-in-one control centre for antiX
Comment[am]=ለ አንቲክ ሁሉንም-በ-አንድ መቆጣጠሪያ ማዕከል
Comment[ca]=Centre de control Tot-en-u per antiX
Comment[de]=das alle Konfigurationselemente enthaltende antiX Kontrollzentrums
Comment[el]=Όλα-σε-ένα κέντρο ελέγχου για antiX
Comment[es]=Centro de control todo-en-uno para antiX
Comment[fr]=Centre de contrôle tout-en-un pour antiX
Comment[it]=Centro di controllo di antiX, tutto in uno
Comment[nl]=Alles-in-een controle centrum voor antiX
Comment[pt]=Centro de controlo do antiX
Comment[sv]=Allt-i-ett kontrollpanel för antiX
Exec=antixcc.sh
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=System;
NoDisplay=False
